[init]
	defaultBranch = main

[alias]
pa = !git remote prune origin && git prune
bl = "!git branch | grep -v '^\\*'"
bc = "!git branch -D `git branch -l | grep -v -E '^\\*|^  master$|^  main$'`"
fa = !git fetch -a
sc = !git stash clear
as = !git add . && git stash save
